[2016-10-28 21:59] tyler-g opened #1 "decoding?"
@russaa thank you for this great emscripten port.

I've been working on a fork to add chunk decoding ability, and running into some issues.  I was able to get `FLAC__stream_decoder_init_stream` to successfully init (return code 0),  but the next step is where I'm struggling.

On the encoding side, when you call `FLAC__stream_encoder_process_interleaved` you pass it the data to encode ,  but the de

[2016-10-29 14:32] russaa commented on #1
I am happy that you found `libflac` useful.

I will help as much as I can, but to be honest, we only ever used the decoding and most of the wrapping code was done by my collaborator.

Would it be possible, to share some more context?
Without the code in question, I can only guess what could have done wrong.

If you suspect the pointer, did you have a look at how these are handled in `emscripten`?

[2016-11-01 02:32] tyler-g commented on #1
thanks @russaa let me see if I can clean up some of my code tomorrow and then fork the codebase

[2016-11-02 21:47] tyler-g commented on #1
@russaa I put a fork up here: https://github.com/tyler-g/libflac.js

It's not working yet but I tried to show the basic idea – added some incomplete decoding docs to the README.   Added some wrappers to decoding functions in the libflac.js file (note the minified version is still the unforked version for now).

Basically, the init of the decoding stream is working, but once it starts processing da

[2016-11-03 10:44] russaa commented on #1
OK @tyler-g I will have a look -- but I probably won't come around to it before next week.

Could you do me a favor:
could you make your changes (in your fork at https://github.com/tyler-g/libflac.js) on a separate branch, i.e. not `master`?
e.g. something like `issue-1_decoding`

That would make collaborating easier.

[2016-11-03 15:42] tyler-g commented on #1
Sure @russaa , will do that before the end of the week.  Thanks for looking

[2016-11-03 15:56] tyler-g commented on #1
ok, I restored `master` to original state and put my changes on branch `decode`

[2016-11-09 20:08] russaa commented on #1
OK, this is not a complete solution, but maybe it will point you in the right direction:

in libflac.js, the `init_decoder_stream()` function should probaly look more like something along the following:
[code]
_(note that the `write_callback_fn_ptr ` callback is not actually implemented here)_

... and with this, as an example, the callback `read_callback_fn()` would look something like this (note

[2016-11-12 20:44] tyler-g commented on #1
@russaa much thanks for this.   I'm working through understanding it and making some changes on my local branch.   There's one thing I don't get though:  where am I sending the actual chunk of FLAC-encoded data to `Flac.decode_buffer_flac_as_pcm` ?

Maybe I'm not understanding it right.  I would think if I am calling the decode, I should be passing it a chunk of data to decode – but it looks like

[2016-11-12 21:35] russaa commented on #1
that is done by the read-callback: the flac encoder "request" the data that it needs for decoding
... by passing in a buffer/array that should be filled with the data that will be decoded -- see the `read_callback_fn(bufferSize)` example above (which fills a buffer with some dummy data).

Also, in this `read_callback_fn(bufferSize)`  you need to take care, that it "notifies" the decoder, when the

[2016-11-13 20:25] tyler-g commented on #1
ok I think I got that part.   I implemented the `Flac.stream_decoder_get_state` in libflac, and this is correctly returning 4 (end of stream).   I'm getting to the `read_callback_fn` for the first few bits of flac data that gets sent, but after that I'm not hitting it.  Hm.

[2016-11-15 01:07] tyler-g commented on #1
@russaa I don't know if this helps but I'm getting a `FLAC__STREAM_DECODER_ERROR_STATUS_LOST_SYNC` after the first few times the `read_callback_fn` is called.   After that it never hits `read_callback_fn`,  though the state is still returning `4` in the while loop

[2016-11-15 09:34] russaa commented on #1
Without seeing the actual code, I could only guess what may be the problem.
For understanding & finding problems, I think, it would be easier to look at the concrete code.

So I have pulled your encode-branch and created another one from that for my changes (from my post above): the [encode_experimental branch](https://help.github.com/articles/syncing-a-fork/).

You could [pull](https://help.githu

[2016-11-15 20:36] tyler-g commented on #1
Ok, I merged in your experimental branch and then made some changes on the `decode` branch.

I seem to be getting a little farther now.. now I can successfully hit the write callback.

First I got rid of the while loop in the read callback,  because instead what I'm doing is hitting `flac_return = Flac.decode_buffer_flac_as_pcm(flac_decoder)` every time a chunk of FLAC data comes over the socket.

[2016-11-16 11:27] russaa commented on #1
sounds good :-)

If you want me to take a look at the write-callback, you should publish your changes to githup (i.e. push the new branch to your repo)

[2016-11-16 17:59] tyler-g commented on #1
hmm you don't see it?  :O    it's the `decode` branch on my fork

[2016-11-17 10:36] russaa commented on #1
oh, sorry -- I somehow automatically assumed that you would create a new branch and did not even think to look in `decode` for the changes.

OK, I will have a look at the write-callback then.

[2016-11-18 17:57] tyler-g commented on #1
No worries,  you'll probably catch something i'm missing

[2016-11-18 23:07] russaa commented on #1
just a heads up:
it probably will take me a bit, until I get to work on it, since I am pretty swamped at the moment with other important work/projects.

But I should get around to it, some time next week

[2016-11-29 21:52] tyler-g commented on #1
hey russaa, just checking up to see if you had a chance to look at this.  Hope you had a nice thanksgiving.

[2016-11-30 19:30] russaa commented on #1
hi @tyler-g, since I am in Germany, we do not really have thanksgiving here ;-)
but thank you for the thought

I hope you did have a nice holiday

I wanted to write a little status update anyway, so you won't wonder, why I did not post any progress report yet, but you beat me to it:
I did not forget libflac, but as I mentioned, I am currently involved in a work project and it turned out to be even

[2016-12-09 16:58] tyler-g commented on #1
ok no problem, just let me know when you have a chance to look !

[2016-12-16 22:41] russaa commented on #1
OK, I continued working on the write-callback (it is not fully working yet):

in directory `example/` of the [https://github.com/mmig/libflac.js/tree/decode_experimental](decode_experimental) branch is a little testing page that takes a FLAC file as input and triggers a download for the decoded data.

As of yet, decoding does not fully work yet -- probably the decoded data is not handled correctly

[2016-12-19 16:48] tyler-g commented on #1
awesome,  thanks.   I'm going to take a look through this this week.   Will update

[2016-12-20 16:05] tyler-g commented on #1
ok I looked over this a bit yesterday, and everything looks like you're getting the FLAC decoder to decode data.  The write callback is working great.

I thought maybe the problem was you weren't converting the decoded buffers to PCM data... or are they already supposed to be PCM data?

I tried converting them to Float and then using a FloatTo16BitWav conversion; but the results seem to be the sam

[2017-01-11 21:39] tyler-g commented on #1
@russaa hey just wanted to check in.  Don't want to give up on this!

[2017-01-12 17:37] russaa commented on #1
yeah, I would like to get it to work, too.
I haven't looked at it since last, but I will probably have another go at it this week or next week.

I will post an update then.

[2017-01-14 00:16] russaa commented on #1
OK, I have pushed an update:

it is almost working as it should .... but only with the help of a pretty dirty HACK: see function `__fix_write_buffer()` which is used in the write-callback-handler, i.e. in `write_callback_fn_ptr()` in [libflac.js](https://github.com/mmig/libflac.js/blob/decode_experimental/example/libflac.js)

For some reason, byte values `0` (i.e. the minimal value) and `255` (i.e

[2017-02-03 21:03] tyler-g commented on #1
sorry for not responding sooner.  I've been a bit busy lately.. going to take a look at your work as soon as I can.  Likely next week

[2017-02-06 15:57] russaa commented on #1
no problem -- I've been busy too, since then.

I hope it is OK with you:
I took our work on the decoding-functionality and integrated it into the main branch (& added examples/ sample code for encoding & decoding files).

Note that I changed some function names, but it should all be reflected in the sample code (see README and examples/ directory).

However, I did not find the reason for the weird

[2017-03-21 18:16] tyler-g commented on #1
Hey @russaa , trying to integrate your changes into my project, but I can't figure out one thing.  In your decode example you have a FLAC file, and you have the total byteLength of that data (as in https://github.com/mmig/libflac.js/blob/master/example/decode-func.js).    However in my project I'm streaming chunks of flac data, so I'm just a little unsure of how to init the decode stream without h

[2017-03-22 11:29] russaa commented on #1
Hey @tyler-g, the [decode-func.js](https://github.com/mmig/libflac.js/blob/master/example/decode-func.js) contains 2 variants for retrieving FLAC data that will be decoded:

see variable `isDecodePartial`: `false` requires the FLAC data to be completely present (invoking `decode_stream_flac_as_pcm()`), whereas with `true` the decoding function (`decode_buffer_flac_as_pcm()`) needs to be called con

[2017-03-22 21:16] tyler-g commented on #1
thanks @russaa ,  wrapping my head around it this week

[2017-03-23 00:34] tyler-g commented on #1
I'm having a little trouble getting this in the context of my project.   If the below code is too hard to read, I can paste it in a separate gist.

Here's the general idea of how my decoder file (below) works.  You can ignore the WAV function stuff.

1. Commands come in, such as `init` or `decode`
2. If `init`, it calls `Flac.init_decoder_stream` to set the decoder
3. If `decode` it pushes the `e.

[2017-03-24 14:59] russaa commented on #1
I guess the problem is, that only 1 data-chunk/frame gets decoded?

I think you really need a while-loop in the `'decode'` case (while minding that currently no buffered data may be available for decoding), or better yet, extract the decoding to a separate function:
[code]
(see down below for the `doDecode()` code)

My guess would be that `read_callback_fn` is fine, except that there should be som

[2017-03-24 16:32] tyler-g commented on #1
wow, Brilliant.  I can't believe it's actually working.  I have a lot of cleanup to do but will update the thread once I do that

[2017-03-24 16:43] tyler-g commented on #1
Nevermind, I spoke too soon.  I think something is off with this `doDecode` function.

If you return when `!decodingPaused`   that means you'll never pass this while loop:
`while(!decodingPaused && dec_state <= 3 && flac_return != false){ `

[2017-03-24 17:20] russaa commented on #1
hmm, I really do think it should work:
`decodingPaused ` is initialized with `true`, so at first invocation of `doDecode` it should pass the 'in-progress' check, then be set to `false` and thus be allowed to enter the while-loop.

... but you probably need to reset `decodingPaused ` to `true` in the `init` event (as well as `dec_state` to `0`)

Did you check with debug-outputs on the console, if t

[2017-03-24 18:48] tyler-g commented on #1
I see what you mean.   `decodingPaused` starts as true.  On the first call of `doDecode` I verified it gets to the while loop.    But never after that.  I think something must be off in the read callback, because thats where `decodingPaused` gets set to true so that it can once again get to the while loop

[2017-03-24 19:18] russaa commented on #1
maybe I did not fully understand, how the code should work:
I assumed, that the `decode` event is continually triggered with new audio-input data -- is this the case?

Because in my code examples, the while-loop would get resumed (after it was paused in the read-callback) the next time the `decode` event is triggered (i.e. after new data was stored in `bufferedInputData`).

Is the audio-input data

[2017-03-24 19:59] tyler-g commented on #1
You're right the `decode` event is constantly triggered whenever new FLAC chunks are available for decoding.

what I'm noticing is that once `decodingPaused` is set to false,  it never is set to true again, and I'm not sure why.  It looks like in the read callback, its never getting to the `decodingPaused = true` line.

Here's what I have for the read callback:

[code]

[2017-03-24 20:11] russaa commented on #1
that isn't necessarily a problem: the read-callback should set `decodingPaused` to `true` only if there isn't any more data that it could read (for decoding) ... if there always is enough data for decoding, then it would never set `decodingPaused` to `true`.

What exactly is the problem that you are experiencing: does the decoding stop at some point, although there is more audio data pushed in, th

[2017-03-24 20:18] tyler-g commented on #1
The problem right now is that the read callback only gets fired twice, even though I confirmed chunk data is coming in continously.

I did log `dec_state` and noticed it is `4`

[2017-03-24 20:54] russaa commented on #1
OK, so I guess in the last invocation of the read-callback, `numberOfReadBytes` is `0`?

That would mean, that the "should I pause" check in the read-callback is 1 invocation too late.
I.e. we need to check ahead of time, that there is enough data, so that the next invocation of the read-callback will return some data (i.e. `numberOfReadBytes > 0` in the next invocation).
So there should be an add

[2017-03-24 21:16] tyler-g commented on #1
So I logged `numberOfReadBytes` ,  in the first invocation of read callback, it is `4`.   On the second invocation, it never reaches `numberOfReadBytes`  because `bufferedInputData` is empty and thus returns out of the read callback .  I'm not sure if I'm doing that part correctly.   I added this because otherwise I was getting errors about `readDataLength` being undefined.

[code]

[2017-03-25 20:33] russaa commented on #1
well, yes, as I said:
the read-callback needs to look ahead for setting the pause.

That means that the code of the if-clause `if (numberOfReadBytes < bufferSize) {` (and the if-clause itself, as mentioned before) needs to be modified so that pausing is set, if the next invocation would  return no data.
From the debug output you mentioned, it seems that the second invocation already returns no dat

[2017-03-27 21:17] tyler-g commented on #1
thanks @russaa  I see what you mean about the `bufferedInputData` array.  I changed it to use `bufferedInputData[0]` which will be the oldest chunk (which then gets shifted away when the `.shift()` is called I believe).

I did confirm that `bufferedInputData` is larger than 1 on first invocation of read callback.  It has 2 UInt8Array chunks in it at that point:

![image](https://cloud.githubuserco

[2017-03-28 11:09] russaa commented on #1
check if the current entry in `bufferedInputData` has data left to return, and if not, if there is another entry in `bufferedInputData` which has data (in that case you would also need to shift `bufferedInputData` already so that the next invocation accesses the next entry with the data).

But there is something strange going on, because the first invocation has 2 entries, and the second has none

[2017-03-29 15:31] russaa commented on #1
... if you make a running example available I would take look

[2017-03-29 19:56] tyler-g commented on #1
thanks yes it's probably easier if I give you a live example to look at.  It's a bit complex at the moment so I'm going to branch off and see if I can create a simple working demo

[2017-03-31 02:56] tyler-g commented on #1
Ok I stripped it down to a simple working example and put it here:  tyler-g.com/flac-test/

As soon as the page loads, an `encoder` and `decoder` worker are initialized.

I noticed that as soon as the `encoder` inits, it hits the encoder's write callback a few times with some data.  I'm guessing this is the "header" part of the FLAC data.   This then gets sent to the `decoder` (or should it not?)

[2017-03-31 11:27] russaa commented on #1
yes, I think the main problem was the meta-data:
basically, decoding should not start until there is some actual audio data available.

There were some other, minor problems too (e.g. the "pause handling" in the read-callback).

I made a gist, based on your example (first revision are the original files, the 2nd the changed ones):
https://gist.github.com/russaa/e553077e4ecd9fbdb8894572ca190269

No

[2017-03-31 18:37] tyler-g commented on #1
@russaa I really owe you one for this.  It is great to finally see it working after struggling with it for a long time.   I didn't realize that the initial chunks from initing encoding would be messing up the decoder, but it does make sense when I think about it.

I added the `data-util.js` and the downloading is working.  The only issue I'm seeing now is that the exported decoded WAV data has the

[2017-04-03 11:36] russaa commented on #1
well, indirectly: the "hacky" thing was to remove (wrongfully) duplicated binary data values within the decoded data -- that works pretty well (in my tests I could not find any instance where it did something wrong; it's "hacky" in the sense that it's necessary at all).
But I also noticed some non-duplicated data that is somehow modified (i.e. not what it should be), although I could not find a cl

[2017-04-03 21:40] tyler-g commented on #1
Great thanks for the update.  I'll check in as well if I figure anything out

[2017-04-04 10:07] russaa commented on #1
... your instinct was right:
the clicking sound was caused by the HACK -- because it evaluated data outside of the boundaries of the channel's audio data, it created artifacts at the end of a (channel's) writing block.

It is not fully fixed yet (see commit 27014e94c05d9bf96bef3f5e87170df3d4a20f6e), but it's more or less invisible/unhearable now.

[2017-04-05 16:38] tyler-g commented on #1
That's great - I can confirm its working for me as well now after the above commit.    The last issue i'm seeing now is a "pop" right near when the recording first starts.  But thats in the encoded flac file as well (meaning its not an issue with decoding).  I must be passing something to the encoder that I shouldn't be.  I'll look into it.     Thank you for your help.  Couldn't have figured this

[2017-04-07 23:02] russaa commented on #1
Hey @tyler-g, just a heads up:
I think I finally figured out, how the decoded data has to be fixed -- the decoded files I used for testing were exactly the same as the original WAV input files.

I will upload the changes next week, and also update the compiled library file (changing from FLAC v1.3.0 to v1.3.2) -- probably with a new asynchronously loading minified version.

[2017-04-10 19:15] russaa commented on #1
@tyler-g, I would like to add a "streaming decode example" -- would be OK to base it on your encode&decode sample code?

_btw. I pushed a new version for libflac.js:_
some functions are renamed, and the signature for `init_libflac_decoder` is changed (there is only one optional parameter now)
-> see comments for [v0.3.0](../releases/tag/v0.3.0)

[2017-04-11 15:14] tyler-g commented on #1
@russaa that sounds great, and yes feel free to use the example

[2017-04-13 16:12] tyler-g commented on #1
Hey @russaa I was trying to do some performance testing of the encoding process.  I could have sworn I had done it in the past and found the encoding latency to be ~ 5ms.

However now I'm looking at it and getting ~100ms, I must be doing something.

Each time before `Flac.encode_buffer_pcm_as_flac` is called (encode a chunk), I push the time into a queue (array):
`timeList.push(performance.now())`

[2017-04-13 19:24] russaa commented on #1
hmm, I don't know:
did you have the developer tools open and/or debug output (on the console) that could slow it down?

If not:
do you remember with which version you tested before?
_(the `min.js` version should have more optimizations present than the normal/development version)_

The newer versions are compiled differently (using the new compiler in emscripten), so there could be a difference du

[2017-04-13 20:45] tyler-g commented on #1
You're right,  I have noticed if console is open it can dramatically slow down execution time if there is lots of logging.

I'm using chrome and have the console open.  I haven't used your 1.3.2 update yet (couldn't get it to integrate yet).  I'm still on the 1.3.0 or whatever it was before.   I haven't been able to get the minified version to work.  I'm using webpack and vue.js for my project and

[2017-04-24 10:59] russaa commented on #1
w.r.t. the minified version 1.3.2:

there are some comments on using the minified version in the [README](../blob/master/README.md#including-libflacjs):
basically, the minified version loads the `.mem` file asynchronously, and no (native) library function can be used until that file was loaded  -- for an example see [speech-to-flac](https://github.com/mmig/speech-to-flac) which has been updated to

[2017-04-24 11:06] russaa commented on #1
... and if you have some code for benchmarking it would be great, if you could share it.

[2017-04-24 13:00] tyler-g commented on #1
Hey, yes I have some.. just want to get it to a readable format to share with this thread.  I think it may be useful.   I did find that if you manually set the blocksize of the encoder,  the encoding delay drops significantly.  I couldn't get emscripten make to work right, so I just added this function manually to the js lib, and it seems to work.

  Also the verify option adds a significant bit o

[2017-04-25 15:32] russaa commented on #1
sounds interesting

I would be very interested in the results, but take your time -- starting next week I will be away again, so I won't be able to look at it the next few weeks in any case.

The blocksize-setter should probably be added to the exported interface then (and maybe as an additional/optional parameter in the `init_libflac_encoder` function)
... for adding the function temporarily, did

[2017-05-08 22:08] breznik opened #4 "Compatibility with Create-React-App / Webpack"
Hi,

I'm pretty new to js/react/webpack. I can import libflac in NodeJS, and nodejs seems happy. When I try to import libflac (minified or non-minified version) to a create-react-app project, I get an error like below:

[code]

Any suggestions for how to work around this? Not sure if the issue is with the code generated by emscripten or the way create-react-app configures their webpack loader or s

[2017-05-09 09:51] russaa commented on #4
it could be, that webpack does not like the octal format for numbers, since it is only a "quasi-standard":
it's not in the spec, but all browsers (and node) support it.

Since ECMAScript 2015 there is a new way for expressing octal numbers, by prefixing them with `0o` (zero + small letter o) instead of just `0` (zero).

You could try editing the source (i.e. inserting a small o after the leading z

[2017-05-09 17:33] breznik commented on #4
Thanks, the 0o octal prefix fixed a couple issues only to expose that webpack is not happy with the module format (warning  'Module' was used before it was defined`). Might have to defer investigating how to workaround that in webpack till another time though.

[2017-05-10 09:09] russaa commented on #4
Did you use the minified version of the library?
It loads asynchronously which may explain the warning about the premature use of the Module.

If you could provide a self-contained example, that demonstrates the problem(s), I'd try looking into it.

[2018-03-15 21:11] mertakdut opened #5 "Cannot enlarge memory arrays"
Hello,

Getting the error when I decode a mp3 file to audiobuffer (using web audio api) and then trying to encode it to flac with almost the same stuff on readme file. Works fine for files less than 1mb.

[code]

Getting the same error from the [sample site](https://mmig.github.io/libflac.js/example/encode.html) as well.

[2018-03-16 22:33] russaa commented on #5
I'll look into it, but it will probably take me a few days until I come around to it

[2018-03-20 18:14] russaa commented on #5
OK, the JS files in `/dist` have been recompiled with `ALLOW_MEMORY_GROWTH=1` setting -- this should fix your issue

[2018-03-20 18:44] russaa commented on #5
as a side note:

it would probably be a good idea for large audio data, to not feed the data all at once to the encoder, but instead call `Flac.FLAC__stream_encoder_process_interleaved()` multiple times with smaller chunks of the audio data

[2018-04-06 15:37] Alexter-progs opened #6 "on iPad (v11.1.1) doesn't work"
Hi, i'm trying to use libflac and demo you provided to record audio from mic and send it to google speech api. Everything works on desktop, but on ipad with v11.1.1 it doesn't work. It works on iphone 5s and 6 with v11.3.
Resulted buffer(blob) returns size of 86 always.
I'm using code from demo to capture audio

getUserMedia -> createMediaSourceStream from mediaStream -> create scriptProcessor ->

[2018-04-06 20:07] russaa commented on #6
could it be, that the browser doesn't  actually allow access to the microphone?

the file size looks suspiciously as if it only contains the FLAC header and no audio data at all ...

[2018-04-06 20:33] Alexter-progs commented on #6
Kinda, i've read this thread https://github.com/ai/audio-recorder-polyfill/issues/4
this gu (alecglassford) says that ios suspends audio context if it's not being created handler that was fired by user click. And indeed, i was getting access to media stream, though there was no red mic icon blinking and all data i was getting is banch of 0. After creating context from handler of click event fired

[2018-04-06 20:34] #6 closed

[2018-07-12 00:19] nickvisut commented on #4
Seems this octal problem is happening with native ES imports as well, which use modules requiring strict mode. This is the error I'm getting in the browser:
![screen shot 2018-07-11 at 5 17 01 pm](https://user-images.githubusercontent.com/2823112/42605693-49851ae2-852e-11e8-8290-72a88983d43a.png)

[2018-07-12 16:10] russaa commented on #4
I checked `Emscripten` (the compiler):
they [addressed the octal-notation problem](https://github.com/kripken/emscripten/commit/0a7ef6f4b01167a71b67abbd052b8cd3f4952a54) in the newer versions.

So, I will compile a new version for `flaclib.js` using the new Emscripten SDK.

But they have some breaking changes, so it will take me some time to migrate to the new compiler version, probably a few days

[2018-07-12 17:06] nickvisut commented on #4
Thanks for investigating, and the work and forthcoming fix is much appreciated!

[2018-07-13 16:43] russaa commented on #4
It should work now in `strict mode`.

There is also an additional (more efficient & smaller) version for WebAssembly (`wasm`) that is supported by most of the major browsers by now:
see the README and the example pages  for more details.

[2018-07-13 19:50] nickvisut commented on #4
Thanks, this is great--will give it a go!

As an aside, had you considered publishing your work as an NPM package?

[2018-07-27 12:12] ztl8702 opened #8 "Adding a package.json"
## TL;DR
Please add a `package.json` to the root of the repository so that libflac.js can be used in other JS-based projects more easily using npm.

---
Hi, thanks for making this library. I am currently using libflac.js in [Jitsi Meet](https://github.com/jitsi/jitsi-meet) to encode recorded audio in the browser.

Because of the set up of the project, it is better if we can reference libflac.js as

[2018-08-01 03:48] ztl8702 commented on #8
@russaa

[2018-08-02 14:50] #8 closed

[2018-09-05 17:48] jay-shah opened #9 "Importing to react"
I'm trying to import libflac in reactjs with

`var Flac = require('./lib/libflac4-1.3.2.js');`

and i'm getting a tone of errors:

[code]

Any ideas on what I am doing wrong here?

Cheers

[2018-09-05 18:04] jay-shah commented on #9
Okay, I figured out what to do, in case anybody else has the same issue this is how I solved it...

install via npm:

`npm install --save git+https://github.com/mmig/libflac.js.git`

and import as:

`var Flac = require('../node_modules/libflacjs/dist/libflac4-1.3.2.js');`

Perhaps put this into the documentation for react users?

[2018-09-05 19:59] russaa commented on #9
could you check if
[code]
works too for use with `reactjs` (after npm-installing/your first step)?

[2018-09-05 20:06] #5 closed

[2018-09-05 20:10] russaa commented on #4
not yet via npmjs.com, but thanks to the initiative of @ztl8702 `libflac.js` can now be installed via

    npm install git+https://github.com/mmig/libflac.js.git

[2018-09-05 20:11] #4 closed

[2018-09-05 23:21] dos1 opened #10 "error: invalid output constraint '=a' in asm"
Tried to build from source, but it fails with:

[code]

[2018-09-05 23:37] dos1 commented on #10
Seems to be fixed by passing `--host=asmjs` to `configure`

[2018-09-06 09:05] jay-shah commented on #9
@russaa
[code]
 gets the 'can't find module error'.

[2018-09-06 17:18] russaa commented on #9
OK, thanks for testing & providing a solution -- I'll add it to the README

[2018-09-06 17:40] #9 closed

[2018-09-06 17:44] russaa commented on #10
yes, I have to admit that since the last update of `emscripten` I did only compile on Windows, so the `make` script may not be up-to-date/working right now

I'll have a look and update the script

[2018-09-06 22:06] supratims opened #11 "FLAC__stream_encoder_process_interleaved errors out inconsistently"
I am using libflac4-1.3.2 and getting errors quite frequently , especially when recording and encoding audio on Firefox. All times, the errors are in
[code]
Above returns false. Calling `FLAC__stream_encoder_get_state()` afterwards returns 0.

Also, in some instances I am getting script terminated by timeout

[code]

Any clues.

[FYI: I also saw the script terminated by timeout errors on the demo

[2018-09-14 10:41] russaa commented on #11
could give some more details/context?

Does this occur regardless of how large the to-be-encoded data is?

Do you have the development-tools/-console of Firefox open?
(or does this happen regardless if the console is opened or closed)

Do you encode a stream ("bit by bit") or a complete blob ("all at once")?
(if you can, would it be possible to provide sample input for which this error occurs?)

D

[2018-09-14 19:00] supratims commented on #11
Yes. I have not tried at all with larger data, so cant say. All my tests have been 10-45 seconds long.

Realised, this works fine if I just do one recording. And error caused only when I was calling Flac.init_encoder_stream the second (or subsequent) times.

Yes. Will try again with console closed.

I am doing bit by bit, with buffer size 4096. Will try again with other sizes.

I am using gulp (li

[2018-09-14 19:09] russaa commented on #11
do you create (and use) a new encoder before calling `Flac.init_encoder_stream`?

i.e.  something like
[code]

or do you try to reuse the the old/previous encoder?

[2018-09-16 17:51] supratims commented on #11
I create a new encoder every time. ie
[code]

[2018-09-17 19:37] Aluzja opened #12 "Encoding works in src but not in minified"
![image](https://user-images.githubusercontent.com/3236589/45645769-5cc32400-ba76-11e8-990a-435491fe6d59.png)

Same code accessing the lib, works fine in source version, but errors out every time while using min.

[2018-09-18 12:00] russaa commented on #12
could you describe the steps for how to reproduce the error, and/or maybe provide a code snippet?

[2018-12-01 15:42] ewertoncode commented on #9
Hi!
@jay-shah I tried import like you said, but I get:

blob:http://localhost:3000/d13de7fc-b381-4ef0-b5c0-30f335e50e67:2 Uncaught ReferenceError: __webpack_require__ is not defined

var Flac = __webpack_require__(/*! ./../../../node_modules/libflacjs/dist/libflac4-1.3.2 */ "./node_modules/libflacjs/dist/libflac4-1.3.2.js");

In my code:
`
export default () => {
    const Flac = require('./../../.

[2019-01-17 18:58] ilya-edrenkin commented on #11
@russaa I am not sure if it is the same error as @supratims  is experiencing, but here is a reproducible bunch of errors with encoding:

Here is an example with `libflac4-1.3.2.dev.wasm.js`; non-dev and non-wasm versions have similar behavior. Host is Chromium 71.0.3578.98.

[code]
Here the return code from FLAC__stream_encoder_process_interleaved is 1 (true), but it's easy to see that the returne

[2019-01-17 20:08] ilya-edrenkin commented on #11
Just FTR, rebuilding libflacjs from source didn't help (the Makefile needed to be slightly amended to work with the current Emscripten, so it's not the 100% fair reproduction).

[2019-01-17 20:24] russaa commented on #11
@ilya-edrenkin I think the problem may be that you pass in the `Int32Array`'s buffer instead of the typed array itself, i.e. try passing in `buf` instead of `buf.buffer`:
[code]

[2019-01-18 10:04] ilya-edrenkin commented on #11
@russaa you are right indeed! Thanks, I spent a few hours looking in a wrong place.

The reason I supplied this argument in this (incorrect) way is that the proper way didn't work for me at all in some other context. I was calling libflacjs via js from some other webassembly module, and the underlying ArrayBuffer was this whole wasm module's memory (viewed as typed array with correct byte offset a

[2019-01-18 10:38] ilya-edrenkin commented on #11
Hm, looks like this is part of libflacjs's postfile: https://github.com/mmig/libflac.js/blob/789476ddcbd9afbf05ada471e2a37f676df6f3c4/libflac_post.js#L1034

[2019-01-18 14:35] russaa commented on #11
yes, it's part of the wrapper code for libflac -- good catch

I'll make a bugfix later & publish it later

Could you test it again then, with circumstances that failed you before?

[2019-01-18 14:48] ilya-edrenkin commented on #11
Sure, I tested it again and it works now.

Re the fix: please see the pull request, https://github.com/mmig/libflac.js/pull/13

[2019-01-18 14:51] ilya-edrenkin commented on #11
The relevant line is this one https://github.com/mmig/libflac.js/pull/13/files#diff-3feb20c59b0cbbc9214c31a112e7008aR1034, but to make it build I also had to slightly edit the Makefile, see the PR for details.

I guess the OGG build is currently broken (I would expect at least to see building of libflac with OGG enabled as a dependency), but that's probably out of scope of this fix.

[2019-01-18 15:32] russaa commented on #11
sorry I was working in parallel and did not see your PR sooner -- could you merge the changes and push them into your PR?
(you can ignore/overwrite or whatever, any changes in `/dist`, I will recompile again after integrating the PR)

[2019-01-18 15:42] ilya-edrenkin commented on #11
@russaa no problem! I would rather close my PR now as there is nothing substantial left -- just the Makefile tweaks, which you can reuse if you wish so. But I am not 100% sure that what works in my emscripten environment would work for you (as vice versa it doesn't work), so it would be probably better if you decide on this yourself :)

Thank you!

[2019-01-18 20:22] russaa commented on #11
OK, good -- and thanks for your work on tracking this error

[2019-06-11 15:50] supratims commented on #11
@russaa Is there any new release you are planning with all the recent fixes you made ?

[2019-06-13 19:23] russaa commented on #11
the latest changes/updates are contained in the master branch (since v4.0.1)

[2019-09-26 14:07] bramhechatejas opened #14 "Refused to execute script from 'https://path/libflac4-1.3.2.min.js' because its MIME type ('text/plain') is not executable"
I have used libflac v 2-1.3.2 for encoding purpose. When I try running encoder deployed at dev server, chrome gives me this error.

[code]

Could you please check & let me know why it's refusing to run this script?

[2019-09-26 15:02] russaa commented on #14
I don't think this is a problem specific to `libflac.js` but with the dev server:

after a quick search, the following thread seems to describe a similar problem related to `Windows` in combination with (dev) servers that have a strict handling of the MIME type (which is specified in the `Windows` registry), see
https://github.com/janeczku/calibre-web/issues/896

and the referenced elaboration:
ht

[2019-11-07 18:32] tyler-g commented on #1
@russaa catching up after a few more years! How are you?

I'm revisiting my project again and was wondering if anything major had changed in your documentation in the README.  Does that include flac decoding on a stream (unknown size)?  I can't remember if my libflac file had some custom work we did on it or not.

I'm having an issue now where decoded flac audio seems to be lower pitched.  I have

[2019-11-08 11:45] russaa commented on #1
Hi @tyler-g, nice to hear from you again!

As far as I can remember, there were no custom changes left, but I am not 100% sure about that.

The latest version has some small changes w.r.t. to the interface, but mainly is the same.
E.g. one notable change is renameing `Flac.init_libflac_decoder -> Flac.create_libflac_decoder`  (and it is `"use strict"` compatible now).

The library is now compiled

[2019-11-08 20:04] tyler-g commented on #1
Oh that would great to integrate with webpack – I will try to get that working.

The thing is, using the dist library `libflac4-1.3.2.js`,  I compared it to the old one I had been using in my project, and noticed the following FLAC functions were missing:
[code]

To get stream encoding/decoding to work I had to include those functions, and also export them in the library (too hacky!)

Are you seei

[2019-11-08 22:16] russaa commented on #1
... then it's been longer than I thought:
most of these have been renamed to reflect the original function names in the FLAC sources

e.g. see f08fbc089f1c745500bcc0a720aba33006b6aa24
[code]

and e872f056ec00c5fc885f93fab151bdbf624b2b94
[code]

[2019-11-08 22:28] russaa commented on #1
... about the pitch:
maybe the sample rate parameter is set to a wrong value ... I am currently not sure if it would result in a different pitch or just cause an error

[2019-11-12 02:56] tyler-g commented on #1
@russaa thanks - I didn't know about the name changes :)  I updated everything in my project so it works with them now.   As far as the pitch issue, maybe it's just in my head!  I'll have to verify

[2019-11-13 01:45] tyler-g commented on #1
I also noticed some discrepancy between what you have in the README for decoding and what I have.

Here are my worker files for encoding and decoding:
**encoder**: https://gist.github.com/tyler-g/85271975eada5014f765d24e2f79c27a
**decoder**: https://gist.github.com/tyler-g/e3aa39e97c9195945ecb89b1dc845831

Pitch issue is still there and I'm trying to figure out if its related to how I'm exporting

[2019-11-15 13:32] carbonrider opened #16 "Noise while recording on windows"
We tried this library on MacAir and the voice was recorded without any significant noise. But we are seeing a strange issue on Windows Laptop (Windows 10, Chrome 78). There is too much of noise getting recorded and also the audio is not audible.

Same results are happening with Demo page as well.

[2019-11-15 16:10] russaa commented on #16
Could this be an general issue with the microphone/recording an that device, or is it specific to this encoding library?

Did you try recording to directly to WAV (from within the browser)?
Does it have the same problems?

[2019-11-15 16:33] russaa commented on #1
thank you for the hint about the outdated README --  I will check it next week.

I checked the `metadata_callback_fn` invocation in the decoder-example, and there it seems to work as it should -- I'll have a closer look next week.

As for the pitch:
did you verify that the source audio has the same or different pitch?
Maybe the source audio already has a "strange" pitch(?)

One of the tests for en

[2019-11-16 05:15] carbonrider commented on #16
Apologies. After going through sound settings, I realised that there was problem with Microphone settings. 😔

[2019-11-16 05:15] #16 closed

[2019-11-18 22:03] tyler-g commented on #1
About the pitch - I'm definitely sure it's lower pitch because my voice sounds like I've been smoking for years  :)

Again this is only testing it through streaming input (streaming mic input, encoding the stream, sending chunk over p2p connection, decoding stream on the other end)

The metadata callback is not firing for me - again I'm only testing streaming though, not encoding/decoding of an ex

[2019-11-19 18:15] russaa commented on #1
I think the pitch problem most probably stems from a wrong sampling rate during encoding:
do you use the `sampleRate` from the `AudioContext` or a hard-coded value?

E.g. if the real sampling rate (i.e. `audioContext.sampleRate`) is 48 kHz, but you use a hard-coded value of 44.1 kHz, the recorded voice would have a lower pitch.

[2019-11-19 19:14] tyler-g commented on #1
my hunch too - though it appeared the sample rates were correct – let me check again and confirm

[2019-11-19 19:24] russaa commented on #1
... the missing call to `metadata_callback_fn` is really strange:
I checked the example for all-at-once decoding, as well as for single-chunk decoding (i.e. "streaming"), and it both works as expected (the meta-data callback should get triggered, when the finish-function for the decoder is invoked).

Did you verify, that actual data gets decoded? I.e. the resulting WAV file contains actual audio d

[2019-11-20 00:25] tyler-g commented on #1
Ok, doing a little investigation.   I'm still not getting `metadata_callback_fn` firing, but in the `write_callback_fn(buffer, blockMetadata)` callback, I'm seeing `blockMetadata` log as:

[code]

(which is correct).  I see that on every write callback on the decode side.

On the encode side I can confirm the encoder is initialing with that same samplerate, channels, and bps.

If you have time to

[2019-11-20 11:27] russaa commented on #1
sure, I'll take a look, if you give me access

[2019-11-20 17:39] tyler-g commented on #1
Do you have a gitlab username, or email I can use to invite you?  The project is on gitlab

[2019-11-20 22:06] russaa commented on #1
I have created an account on gitlab.com with user name `russa`

[2019-11-20 22:13] tyler-g commented on #1
Thanks I just added you to the project - the setup steps are in the README

[2019-11-22 17:42] russaa commented on #1
I had a look at the project:

1) the pitch problem was caused due to the fact that you tried to change the sample rate using an audio buffer, but it needs to be set in AudioContext constructor
-> see branch `fix_pitch`

2) the metadata problem was caused by an initialization problem:
* the first chunks of FLAC audio data (i.e. the header/metadata) are created upon initialization of the encoder
* a

[2019-11-22 20:55] tyler-g commented on #1
Wow, so much thanks for finding that – I did not know about needing to pass the sample rate directly into the constructor like that.

I am going to clean up my code a bit and also figure out the reinitialization bit – so that I don't need to refresh the page to start again.

As far as #2, the meta data callback, do you think I should simply wait until the connection is open to initialize the FLAC

[2019-11-25 12:19] russaa commented on #1
w.r.t. to re-initialization:
it's basically the same as what is done for the `init` event, but without recreation of the encoder/decoder, i.e. no invocation of `create_libflac_encoder()` / `..._decoder()`
(or if you recreate those, make sure destroy the ones your are not using anymore, i.e. call `FLAC__stream_encoder_delete(encoder)` and `FLAC__stream_decoder_delete(decoder)`)

[2019-11-28 22:16] #11 closed

[2019-11-28 22:16] #10 closed

[2020-01-21 13:52] wawrzy commented on #12
The problem still exist when I run example on this project https://github.com/mmig/speech-to-flac.

- Working fine with `libflac.js`.
 - `Flac.FLAC__stream_encoder_process_interleaved` always return `false` with `libflac.min.js`

[2020-01-21 17:28] russaa commented on #12
Do you use the library from https://github.com/mmig/speech-to-flac or the recent ones from this repo?

Does it work when using the `min` version on the demo page?
https://mmig.github.io/libflac.js/example/encode.html?lib=min&wasm=false
(the demo takes a WAV file as input)

[2020-05-23 13:39] Pavel-Shulepov opened #17 "Angular 8"
./node_modules/libflacjs/index.js 52:8-55
Critical dependency: the request of a dependency is an expression

Error: "Uncaught (in promise): ReferenceError: process is not defined
./node_modules/libflacjs/index.js

[2020-05-26 17:51] russaa commented on #17
how did you include the library?

did you follow the [README for webpack](https://github.com/mmig/libflac.js#reactwebpack)?

i.e. something like
[code]

[2020-05-27 03:48] Pavel-Shulepov commented on #17
Hello!
Yes, of course, I connected the library as in the documentation.

var Flac = require ('libflacjs / dist / libflac.js');

Here is a message:

./node_modules/libflacjs/dist/libflac.js 32: 23-26
Critical dependency: require function is used in a way in which dependencies cannot be statically extracted

[2020-05-27 14:29] russaa commented on #17
hmm, I tried to reproduce the error, but for me, there only was the warning message (`Critical dependency: require function ...`), no actual error

The warning is due to the fact that `webpack` (the build tool used by Angular) has problems to with handling the UMD-wrapper of libflac.js, but it should still compile (and work)

I tested this by creating a new Angular 8 example app (via `ng new`) and

[2020-05-28 04:23] Pavel-Shulepov commented on #17
Thank!

helped
import * as Flac from 'libflacjs / dist / libflac.js';

a warning remains, but the project compiles fine.

Can you help port an example?
https://github.com/mmig/speech-to-flac/blob/master/encoder.js
to Angular 8.
I need to write from a microphone in flac format to send to GoogleSpeech.

Thanks again!

[2020-05-28 04:23] #17 closed

[2020-05-28 19:49] russaa commented on #17
I did not really test it, but for "converting" the encoder script to Angular 8, you probably only need to change the script-loading statement from
[code]

to something like
[code]

The bigger challenge is probably to get Angular/webpack to compile the worker-script as a separate script-file.

I updated the README with some basic instructions for doing this in a project built with `webpack`, see [R

[2020-06-01 18:09] G4Vi opened #18 "Issue with decoding 24 bit audio with libflac.js"
[code]

Notice how the first samples do not contain the byte 0xFF.

When 5sec.flac is decoded using decodeFlac, looking at decData[0][0], the data differs.
[code]

At first I thought that libflac.js was filling decData with the 4 byte representation of the sample i.e. sign extending from the 24 bit sample to make an int32, but the size of decData does not match up with that.
[code]

((117 * 12288)

[2020-06-02 18:40] russaa commented on #18
would it be possible to make the test audio file `5sec.flac` available?

[2020-06-02 18:55] G4Vi commented on #18
@russaa

Sure:
https://drive.google.com/file/d/1bIuxw7HuAmy9wyMs0fsbsWJse_gQ45xc/view?usp=sharing

[2020-06-04 17:41] russaa commented on #18
@G4Vi  thank you for providing the test file

the problem is basically, that the current implementation does not take padding for "uneven" bit-sizes into account (that is sizes other than 8, 16, 32, ...)

so the data that is returned in the write-callback is too small (since the values for 24-bit are padded to fit in 32-bit)

(and then on the application-side of the code, e.g. for writing the WAV

[2020-06-04 18:54] G4Vi commented on #18
@russaa  Thanks for looking into it.

I wonder how this ties in to the "triplication" issue if at all.

[2020-06-04 22:18] russaa commented on #18
in ties in in so much, as it does not occur in this case
so the heuristic dealing with the "triplication issue" needs to be disabled for this, otherwise it could destroy the padding/data

[2020-06-08 19:45] russaa commented on #18
I have updated the github repo for correctly decoding 24-bit samples (the new library version is now `5.2.0-beta.1`)

the `npm` package is not updated yet though:
when I have a little more, I would like to check how/if it works for other bits-per-sample settings first, and then update the package

[2020-06-09 16:18] G4Vi commented on #18
I tested out `5.2.0-beta.1`, it works great on my 24 bit flac audio files, Thanks.

The padding error message in `interleave`, helped me discover a bug in my re-encoding end that was silently ignored by various decoders.

[2021-11-03 06:36] DanielSWolf opened #32 "Which library variants require asynchronous initialization?"
All samples contain this placeholder comment:

In [the documentation](https://mmig.github.io/libflac.js/doc/#async-initialization-with-webpack), the chapter "Async Initialization" states that "Some variants of the `libflac.js` library are loaded asynchronously". But I can't find the information which variants these are exactly.

Which variants require asynchronous initialization, which don't?

[2021-11-03 14:13] russaa commented on #32
generally, the asnychonous initialization is relevant for all library variants that have additional, required library files (i.e. in addition to the main JavaScript library file)

the section [Library Variants](https://github.com/mmig/libflac.js#library-variants) (or specifically the sub-sections [Default Library](https://github.com/mmig/libflac.js#default-library), [Minified Library](https://gith

[2021-11-05 15:00] DanielSWolf commented on #32
Thanks for the clarification!